{{ define "model/additional/getters" }}
  {{ range $field := .Fields }}
    // Get{{ $field.StructField }} returns the {{ $field.Name }} column
    func ({{ $.Receiver }} *{{ $.Name }}) Get{{ $field.StructField }}() {{ $field.Type }} {
      return {{ $.Receiver }}.{{ $field.StructField }}
    }
  {{ end }}
{{ end }}
